* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #515184;
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
  color: #515184;
  background-color: #f7f8fc;
}
.container {
  width: 90%;
  margin: auto;
}
img {
  max-width: 100%;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #979797;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  min-height: 60px;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 0 6px rgba(103, 58, 183, 0.2);
}
::selection {
  color: #fefefe;
  background: #3639ae;
}
